@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.university h4{
  width: auto;
}

.university h5{
  width: auto;
}

.university h4{
  width: auto;
}

.degree h5{
  width: auto;
}

.profile-img {
  height: 300px; /* Or any other size you want */
  border-radius: 50%;
}

.header-name {
  font-size: 3em; /* Or any other size you want */
  margin-bottom: 20px;
}

.image {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.image.selected {
  border-color: blue;
}

.bullet-points {
  list-style-type: disc;
  padding-left: 20px;
}

.tableContainer {
  width: 60%;
}

.table-row{
  background-color: rgb(225, 225, 225);
}

.image-grid {
  background-color: rgb(80, 80, 80);
}

.image-grid.selected{
  background-color: rgb(0, 0, 0)!important;
}

/* Change color when hovered */
.image-grid:hover {
  background-color: grey;
}

.column-header {
  margin-top: 15px;
  text-align: center;
}

.column-caption{
  text-align: center;
}

.list-group-horizontal .list-group-item {
  background: #b1bea7;
  transition: background 0.2s ease-in-out;
}

.list-group-horizontal .list-group-item:hover {
  background: #237623;
  
}

.list-group-flush .list-group-item {
  background: #b1bea7;
  transition: background 0.2s ease-in-out;
}

.list-group-flush .list-group-item:hover {
  background: #237623;
  
}

.header-content{
  text-align: left;
}