@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.university h4{
  width: auto;
}

.university h5{
  width: auto;
}

.university h4{
  width: auto;
}

.degree h5{
  width: auto;
}

.profile-img {
  height: 300px; /* Or any other size you want */
}

.header-name {
  font-size: 3em; /* Or any other size you want */
}
